
.auto-card-link-container {
  background-color: transparent;
  container-type: inline-size;
  position: relative;
  overflow: hidden;
  user-select: none;
  --auto-card-link-button-width: calc(var(--icon-size, 18px) + var(--size-2-3, 6px));
  --auto-card-link-indent-size: 2.5em;

  @for $i from 1 through 7 {
    &[data-auto-card-link-depth="#{$i}"] {
      margin-left: calc(var(--auto-card-link-indent-size) * #{$i});
    }
  }
}

.auto-card-link-title {
  white-space: normal !important;
  --lh: 1.5em;
  line-height: var(--lh);
  height: calc(var(--lh) * 3);
  overflow: hidden;
  text-overflow: ellipsis;
}

.auto-card-link-card {
  display: flex;
  flex-direction: row-reverse;
  height: 8em;
  transition: 20ms ease-in;
  cursor: pointer;
  text-decoration: none;
  color: var(--link-external-color, var(--highlight));
  background: var(--background-primary-alt, var(--darkgray));
  border: solid var(--border-width) var(--divider-color, var(--lightgray));
  border-radius: var(--radius-s, 4px);

  &:hover {
    color: var(--link-external-color-hover, var(--tertiary));
  }
}

.auto-card-link-main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.18em;
  padding: 0.5em 0.6em;
  overflow: hidden;
  text-align: left;
}

.auto-card-link-description {
  overflow: hidden;
  --lh: 1.4em;
  line-height: var(--lh);
  height: calc(var(--lh) * 3);
  color: var(--text-muted, var(--darkgray));
  font-size: var(--font-smallest, 0.9em);
}

.auto-card-link-host {
  font-size: var(--font-smallest, 0.9em);
  display: flex;
  flex-direction: row;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.auto-card-link-thumbnail {
  margin: 0;
  width: unset !important;
  max-height: 100%;
  object-fit: cover;
}

.auto-card-link-error-container {
  color: var(--text-error);
  padding: 0.5em;
  border: 1px solid var(--text-error);
  border-radius: var(--radius-s, 4px);
}
